<h1>Add an Article</h1>
<form method="POST" action="/articles">
    <label for="title"> Article Title <input type="text" name="title"/> </label> <br>
    <label for="content"> Article Content <textarea type="text" name="content"></textarea> </label> <br>
    <input type="submit" value="SUBMIT"/>
</form>